@font-face {
	font-weight: normal;
	font-style: normal;
}
.section {
	padding: 30px 0px; width: 100%;
}
.bg1 {
	background: url("images/bg1.png");
}
.bg2 {
	background: url("images/bg2.png");
}
.bg3 {
	background: url("images/bg3.png");
}
.content {
	width: 950px; text-align: center; line-height: 1.5em; margin-right: 10%; margin-bottom: 40px; margin-left: 15%; position: relative;
}
* {
	margin: 0px; padding: 0px;
}
a {
	color: rgb(41, 172, 200); text-decoration: none;
}
a:active {
	
}
h1 {
	margin: 50px 0px; color: rgb(255, 255, 255); font-size: 72px; font-weight: normal;
}
body {
	background: url("images/bg1.png") fixed rgb(39, 173, 200); color: rgb(255, 255, 255); font-family: "Helvetica",Arial, Sans-serif;
}
#qLpercentage {
	letter-spacing: 1px; font-size: 50px; font-weight: bold;
}
#container {
	width: 100%;
}
#nav {
	background: url("images/navbg.png"); left: 0px; width: 96px; height: 100%; font-weight: normal; position: fixed; z-index: 100;
}
#nav li {
	list-style: none; padding: 0px 10px 0px 0px; width: 89px; height: 90px; text-align: center; color: rgb(255, 255, 255); font-size: 25px; font-weight: bold; margin-bottom: 10px; float: left;
}
#nav li:hover {
	color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
.current {
	background-color: rgb(244, 192, 28) !important;
}
.current a {
	color: rgb(255, 255, 255) !important;
}
#nav li a {
	width: 100px; height: 35px; color: rgb(204, 204, 204); padding-top: 55px; text-decoration: none; display: block;
}
#nav li:hover a {
	color: rgb(255, 255, 255) !important; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.active a {
	color: rgb(255, 255, 255) !important;
}
li.navlogo6 {
	background: url("images/nav_sprites.png") no-repeat -390px 0px; -webkit-transform: rotate(-1deg); -moz-transform: rotate(-1deg);
}
li.navlogo1 {
	background: url("images/nav_sprites.png") no-repeat 8px 0px; -webkit-transform: rotate(1deg); -moz-transform: rotate(1deg);
}
li.navlogo2 {
	background: url("images/nav_sprites.png") no-repeat -72px 0px; -webkit-transform: rotate(1deg); -moz-transform: rotate(1deg);
}
li.navlogo4 {
	background: url("images/nav_sprites.png") no-repeat -231px 0px; -webkit-transform: rotate(-1deg); -moz-transform: rotate(-1deg);
}
li.navlogo5 {
	background: url("images/nav_sprites.png") no-repeat -310px 0px; -webkit-transform: rotate(1deg); -moz-transform: rotate(1deg);
}
li.navlogo3 {
	background: url("images/nav_sprites.png") no-repeat -152px 0px; -webkit-transform: rotate(-1deg); -moz-transform: rotate(-1deg);
}
li.likebutton {
	padding-top: 20px;
}
#section_home a {
	width: 100%; height: 40px; color: rgb(255, 255, 255); letter-spacing: 2px; padding-top: 155px; font-size: 30px; font-weight: bold; display: block;
}
#logo {
	background: url("images/logo.png") no-repeat; left: 33%; top: 140px; width: 344px; height: 334px; position: absolute; z-index: 20;
}
#homelogo2 {
	background: url("images/ceremony.png") no-repeat; left: 155px; top: 233px; width: 139px; height: 188px; position: absolute; z-index: 5;
}
#homelogo1 {
	background: url("images/story.png") no-repeat; left: 0px; top: 233px; width: 145px; height: 188px; position: absolute; z-index: 3;
}
#homelogo3 {
	background: url("images/events.png") no-repeat; left: 635px; top: 233px; width: 139px; height: 188px; position: absolute; z-index: 5;
}
#homelogo4 {
	background: url("images/thank.png") no-repeat; left: 790px; top: 233px; width: 145px; height: 188px; position: absolute; z-index: 3;
}
@media only screen and (max-device-width:1024px) and (min-device-width:768px)
{
.thumb {
	width: 100%;
}
}
.project {
	width: 950px; text-align: left; margin-top: 20px; margin-bottom: 100px; display: block; position: relative;
}
.thumb {
	left: 0px; top: 30px; width: 600px; position: relative;
}
.thumb img {
	margin-bottom: 0px;
}
.title {
	background: rgb(41, 172, 200); margin: 10px 0px; padding: 10px; left: -10px; top: -15px; position: absolute; z-index: 20; box-shadow: 3px 3px 3px #000; -webkit-transform: rotate(-2deg); -moz-transform: rotate(-2deg); -moz-box-shadow: 3px 3px 3px #000; -webkit-box-shadow: 3px 3px 3px #000;
}
.project .info {
	background: rgba(0, 0, 0, 0.4); padding: 20px; top: 30px; width: 300px; height: 355px; right: 0px; font-size: 14px; border-right-color: rgb(0, 0, 0); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; position: absolute;
}
#section_events .project .info {
	background: rgba(255, 255, 255, 0.4); border: 1px solid rgb(237, 237, 236); color: rgb(153, 153, 153);
}
#section_events .project .info h2 {
	color: rgb(41, 172, 200);
}
.project .info .button a {
	background: rgba(0, 0, 0, 0.6); padding: 6px 0px 30px; width: 250px; height: 2px; text-align: center; right: 44px; bottom: 20px; font-size: 14px; position: absolute;
}
.project .info .button a:hover {
	background: rgba(0, 0, 0, 0.8);
}
.project .info h2 {
	font-size: 40px; font-weight: bold; margin-bottom: 15px;
}
.project h2 {
	text-align: center; color: rgb(255, 255, 255); font-size: 40px;
}
.clear {
	clear: both;
}
.float {
	float: left;
}
#section_home {
	text-align: center; font-size: 18px; min-height: 768px;
}
#section_about {
	text-align: center; font-size: 18px; position: relative; min-height: 768px;
}
#section_story {
	text-align: center; color: rgb(153, 153, 153); font-size: 18px; position: relative; min-height: 2400px;
}
#section_events {
	text-align: center; color: rgb(153, 153, 153); font-size: 18px; position: relative; min-height: 600px;
}
#section_contact {
	min-height: 600px;
}
#thankBox {
	background: rgba(0, 0, 0, 0.2); margin: 10px 0px 10px; padding: 20px 40px 20px 20px; border: 1px solid rgb(237, 237, 236); width: 855px; line-height: 2em; font-size: 18px; float: left; z-index: 5; text-align: left;
}
#aboutBox {
	background: rgba(255, 255, 255, 0.4); margin: 10px 0px 90px; padding: 20px 40px 20px 20px; border: 1px solid rgb(237, 237, 236); width: 855px; line-height: 2em; font-size: 16px; float: left; z-index: 5;
}
#aboutTxt {
	width: 575px; text-align: left; color: rgb(70,70,70); margin: 0px 0px 0px 20px; font-size: 14px; 
}
#aboutTxt a {
	background: rgb(41, 172, 200); padding: 3px 5px; color: rgb(255, 255, 255);
}
#aboutTxt h3 {
	background: rgb(41, 172, 200); padding: 3px 5px; color: rgb(255, 255, 255); margin: 0px 0px 0px -20px; font-size: 18px;
}
#aboutTxt a:hover {
	color: rgb(41, 172, 200);
}
#aboutMePic {
	top: 117px; right: 9px; position: absolute; z-index: 5;
}
#aboutMePic hr{
	border-style:dashed; margin: 10px;
}
#section_story h1 {
	color: rgb(41, 172, 200);
}
#section_events h1 {
	color: rgb(41, 172, 200);
}
#section_copyright h3 {
	color: rgb(200, 200, 200);
}
#section_copyright h3 .name {
	background: rgb(220, 140, 140); padding: 3px 5px; color: rgb(255, 255, 255);
}
.nivoSlider {
	position: relative;
}
.nivoSlider img {
	left: 0px; top: 0px; position: absolute;
}
.nivoSlider a.nivo-imageLink {
	margin: 0px; padding: 0px; border: 0px currentColor; left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: absolute; z-index: 6;
}
.nivo-slice {
	top: 0px; height: 100%; display: block; position: absolute; z-index: 5;
}
.nivo-box {
	display: block; position: absolute; z-index: 5;
}
.nivo-caption {
	background: rgb(0, 0, 0); left: 0px; width: 100%; bottom: 0px; color: rgb(255, 255, 255); position: absolute; z-index: 8; opacity: 0.8;
}
.nivo-caption p {
	margin: 0px; padding: 5px;
}
.nivo-caption a {
	display: inline !important;
}
.nivo-html-caption {
	display: none;
}
.nivo-directionNav a {
	background: rgb(0, 0, 0); padding: 5px; top: 45%; color: rgb(255, 255, 255); font-size: 14px; position: absolute; z-index: 9; cursor: pointer;
}
.nivo-prevNav {
	left: 0px;
}
.nivo-nextNav {
	right: 0px;
}
.nivo-controlNav a {
	display: none; position: relative; z-index: 9; cursor: pointer;
}
.nivo-controlNav a.active {
	font-weight: bold;
}
#contactForm {
	color: rgb(255, 255, 255);
}
.statusMessage {
	color: rgb(255, 255, 255);
}
#contactForm {
	width: 600px; margin-left: 18%;
}
.statusMessage {
	margin: 0px auto; padding: 1.5em; left: 119px; top: 178px; width: 600px; text-align: center; line-height: 1em; letter-spacing: 1px; font-size: 45px; font-weight: bold; display: none; position: absolute;
}
.statusMessage p {
	margin: 0px; padding: 0px; text-align: center;
}
#contactForm ul {
	list-style: none; margin: 0px; padding: 0px;
}
#contactForm ul li {
	margin: 0px 0px 25px; padding: 0px;
}
#contactForm input {
	line-height: 1em;
}
#contactForm label {
	line-height: 1em;
}
label {
	width: 100%; text-align: center; letter-spacing: 3px; font-size: 35px; display: block;
}
input {
	background: rgba(255, 255, 255, 0.7); margin: 0px; padding: 0.4em; border-radius: 5px; border: currentColor; width: 100%; letter-spacing: 2px; font-size: 30px; display: block; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
textarea {
	background: rgba(255, 255, 255, 0.7); margin: 0px; padding: 0.4em; border-radius: 5px; border: currentColor; width: 100%; letter-spacing: 2px; font-size: 30px; display: block; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
textarea {
	height: 5em; line-height: 1.5em; resize: none;
}
#contactForm input:focus {
	background: rgba(255, 255, 255, 1); border: currentColor; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
#contactForm textarea:focus {
	background: rgba(255, 255, 255, 1); border: currentColor; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
input:valid {
	background: rgb(221, 255, 221);
}
textarea:valid {
	background: rgb(221, 255, 221);
}
#formButtons {
	margin: 0px auto; width: 129px;
}
input[type='submit'] {
	background: rgb(0, 0, 0); margin: 2em 1em 0px; padding: 20px 0px; border-radius: 0px; width: 10em; color: rgb(255, 255, 255); line-height: 1em; letter-spacing: 0px; font-family: "Helvetica",Arial, Sans-serif; font-size: 14px; opacity: 0.7; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}
input[type='button'] {
	background: rgb(0, 0, 0); margin: 2em 1em 0px; padding: 20px 0px; border-radius: 0px; width: 10em; color: rgb(255, 255, 255); line-height: 1em; letter-spacing: 0px; font-family: "Helvetica",Arial, Sans-serif; font-size: 14px; opacity: 0.7; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}
input[type='submit']:hover {
	cursor: pointer; opacity: 1;
}
input[type='submit']:active {
	cursor: pointer; opacity: 1;
}
input[type='button']:hover {
	cursor: pointer; opacity: 1;
}
input[type='button']:active {
	cursor: pointer; opacity: 1;
}
input[type='submit']:active {
	background: rgb(244, 192, 28); color: rgb(255, 255, 255);
}
input[type='button']:active {
	background: rgb(244, 192, 28); color: rgb(255, 255, 255);
}
input[type='button'] {
	background: rgb(255, 51, 51);
}
@media only screen and (max-device-width:1024px) and (min-device-width:768px)
{
#container {
	margin: 0px;
}
#nav {
	background: url("images/navbg.png"); width: 100%; height: 86px; bottom: 0px !important; font-family: "Helvetica",Arial, Sans-serif; font-weight: bold; position: fixed; z-index: 100;
}
#nav li {
	margin: 0px 30px 0px 0px; color: rgb(255, 255, 255); font-size: 14px; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);
}
#nav li.home {
	margin: 0px 30px 0px 12em;
}
.project .info h2 {
	font-weight: normal;
}
h2 {
	font-weight: normal;
}
#section_home a {
	font-weight: normal;
}
.content {
	margin: 0px auto;
}
}
@media only screen and (max-device-width:480px)
{
#container {
	margin: 0px;
}
#nav {
	background: url("images/navbg.png"); width: 100%; height: 86px; bottom: 0px !important; font-family: "Helvetica",Arial, Sans-serif; font-weight: bold; position: fixed; z-index: 100;
}
#nav li {
	margin: 0px 30px 0px 0px; color: rgb(255, 255, 255); font-size: 14px; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);
}
#nav li.home {
	margin: 0px 30px 0px 12em;
}
.project .info h2 {
	font-weight: normal;
}
h2 {
	font-weight: normal;
}
#section_home a {
	font-weight: normal;
}
.content {
	margin: 0px auto;
}
}
